body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

header#head {
  background-color: #222;

  .logo-container {
    padding: 20px 40px 20px 0;
  }
}

article.video-item {
  padding: 2px;
  margin: 0;

  header {
    height: 200px;
    background-size: cover;
    background-position: center center;

    h1 {
      font-weight: 500;
      color: #fff;
      font-size: 24px;
      text-align: center;
      padding: 20px;
      font-family: 'Roboto Condensed', sans-serif;
      text-shadow: 1px 1px 2px #000;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .content {
    height: 170px;
    background-color: #FDC93A;
    padding: 20px;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-word;
  }
}
