body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

header#head {
  background-color: #222;

  .logo-container {
    padding: 20px 40px 20px 0;
  }
}

article.video-item {
  padding: 2px;
  margin: 0;

  header {
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;

    .date {
      position: absolute;
      background-color: #fdc93a;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      font-size: 16px;
      padding: 5px;
      margin-left: 10px;
      color: #000;
      text-align: center;
      line-height: 18px;
      display: inline-block;
      box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.5);
    }

    .header-item-top {
      order: 0;
      flex: 2 1 auto;
      align-self: auto;
    }

    .header-item-middle {
      order: 0;
      flex: 0 0 auto;
      align-self: auto;
    }

    .header-item-bottom {
      order: 0;
      flex: 2 1 auto;
      align-self: auto;
    }

    h1 {
      font-weight: 700;
      color: #fff;
      font-size: 22px;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      text-shadow: 2px 2px 2px #000;
      padding: 20px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .content {
    height: 170px;
    background-color: #fdc93a;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;

    .description {
      padding: 20px;
    }

    .channel, .city {
      position: absolute;
      bottom: 0;
      background-color: #000;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      padding: 2px 10px 2px 10px;
      text-align: center;
      display: inline-block;

      a {
        color: #fdc93a;
        text-decoration: none;
      }
    }

    .channel {
      right: 0;
    }

    .city {
      left: 0;
      color: #fdc93a;
      cursor: pointer;
    }
  }
}

.video-node {
  h1 {
    font-size: 32px;
    background-color: #fdc93a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin: 2px 0 2px 0;
    padding: 20px;
  }

  .description {
    font-size: 16px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px 0 0 0;
  }
}

.pager li > a {
  display: inline-block !important;
  padding: 5px 14px !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: #fdc93a !important;
  color: #000 !important;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase !important;
}

.pager li.is-active > a {
  background-color: #000 !important;
  color: #fdc93a !important;
}
